.anchors {
  margin-top: 200px;
  margin-bottom: 200px;
  display: grid;

  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". . "
    ". ."
    ". . "
;
  grid-auto-flow: column;
  gap: 80px;
}

.block {
  height: 300px;
  position: sticky;
  top: 0;
}

.diva {
  position: sticky;
  top: 20px;
}

.dv1 {
  z-index: 40;
  display: block;
}

.bl1 {
  background-color: #5C5E62;
}

.bl2 {
  background-color: #214da8;
}

.bl3 {
  background-color: #7621a8;
}
